.header {
    padding: 0.25em 0.5em; }

.post-form {
    padding: 1.0em;
    width: 100%; }

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }

.post-list-item {
    margin: 0;
    padding: 1.0em;
    background: #fff; }

.post-list-item:nth-child(even) {
        background-color: #eee; }

.footer {
    padding: 0 1.0em 1.25em;
}